main {
  max-width: 500px;
  margin: 80px auto;
}

.input-wrapper {
  display: flex;
}

input,
button {
  border-radius: 5px;
  padding: 10px;
  outline: none;
}

input {
  width: 98.6%;
  border: 2px solid #4b0aff3b;
}

button {
  background: #4b0aff;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.note {
  font-size: 1rem;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px;
}

.loading {
  padding: 30px 0;
}
